@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5{font-weight:300; font-family: 'Roboto', sans-serif;}
.clear{clear:both;}

/*Header
=======================================*/
.main-header{background:#000; padding:15px 0px; color:#fff; position:fixed; width:100%; z-index:10;}
.main-header .main-logo{float:left; margin:11px 0px 0px 0px;}
.main-header .main-navigation{float:right;}
.main-header .main-navigation ul{margin:0px; padding:0px; list-style:none;}
.main-header .main-navigation ul li{margin:0px 0px 0px 10px; padding:0px; list-style:none; display:inline-block;}
.main-header .main-navigation ul li a{margin:0px; display:block; color:#aaa; text-transform:uppercase; font-size:12px;  text-decoration:none; padding:8px 12px;}
.main-header .main-navigation ul li a:hover{color:#fff;}
.main-header .main-navigation ul li a.active-link{color:#fff; background:#2ba3d4; padding:8px 12px; border-radius:2px; box-shadow:rgba(0,0,0,0.2) 0px 0px 5px inset;}
/*END*/

/*Maininner Wrapper
======================================================*/
.maininner-wrapper{padding:120px 0px 40px 0px;}
.maininner-wrapper .left-sidebar{float:left; width:20%;}
.maininner-wrapper .right-sidebar{float:right; width:76%; border-left:1px #ddd solid; padding-left:50px; box-sizing:border-box;}
/*END*/

/*left navigation
===========================================================*/
.left-navigation{}
.left-navigation li a{color:#333; padding:5px 0px 5px 0px; font-weight:300;}
.left-navigation li a:hover{color:#1fa2d6;}
.left-navigation li ul li a{color:#777; padding-left:0px;}
/*END*/

/*Template Page
================================================================*/
.template-wrapper{}
.template-wrapper h1.box-title{margin:0px; font-size:28px; line-height:35px;}

/*.template-wrapper .template-top-a{margin:30px 0px 0px 0px;}
.template-wrapper .template-top-a .add-item-row{margin:0px 0px 15px 0px;}
.template-wrapper .template-top-a .uk-sortable{margin:0px; padding:0px; list-style:none;}
.template-wrapper .template-top-a .uk-sortable li{margin:0px 8px 0px 0px; padding:0px; list-style:none; float:left; position:relative;}
.template-wrapper .template-top-a .uk-sortable li a{display:block; border-radius:2px; color:#666; text-decoration:none;}
.template-wrapper .template-top-a .uk-sortable li a:hover{background:#eee;}

.template-wrapper .template-top-b{margin:20px 0px 20px 0px;}
.template-wrapper .template-top-b select{width:100%; padding:10px; border-radius:5px; height:auto; color:#999;}

.template-wrapper .template-top-c{}
.template-wrapper .template-top-c .row-wrapper{margin:0px 0px 20px 0px;}
.template-wrapper .template-top-c input[type="text"]{padding:10px; border-radius:5px; height:auto;}
.template-wrapper .template-top-c select{padding:10px; border-radius:5px; height:auto; color:#999;}

.template-wrapper .template-top-c .row-1{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-1 input{width:100%;}
.template-wrapper .template-top-c .row-1 select{width:100%;}
.template-wrapper .template-top-c .row-1 .col-1{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-1 .col-2{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-1 .col-3{float:left; width:33.3%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-2{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-2 .uk-placeholder{margin:0px; text-align:center; padding:6px; border-radius:5px;}
.template-wrapper .template-top-c .row-2 .uk-placeholder a{color:#999;}
.template-wrapper .template-top-c .row-2 input{width:100%;}
.template-wrapper .template-top-c .row-2 select{width:100%;}
.template-wrapper .template-top-c .row-2 .col-1{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-2 .col-2{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-2 .col-3{float:left; width:33.3%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-3{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-3 input{width:100%;}
.template-wrapper .template-top-c .row-3 select{width:100%;}
.template-wrapper .template-top-c .row-3 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-3 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-3 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-3 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-4{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-4 input{width:100%;}
.template-wrapper .template-top-c .row-4 select{width:100%;}
.template-wrapper .template-top-c .row-4 .col-1{float:left; width:50%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-4 .col-2{float:left; width:50%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-5{}
.template-wrapper .template-top-c .row-5 h3{text-align:center;}

.template-wrapper .template-top-c .row-6{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-6 input{width:100%;}
.template-wrapper .template-top-c .row-6 select{width:100%;}
.template-wrapper .template-top-c .row-6 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-6 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-6 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-6 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-7{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-7 input{width:100%;}
.template-wrapper .template-top-c .row-7 select{width:100%;}
.template-wrapper .template-top-c .row-7 .col-1{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-7 .col-2{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-7 .col-3{float:left; width:33.3%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-8{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-8 input{width:100%;}
.template-wrapper .template-top-c .row-8 select{width:100%;}
.template-wrapper .template-top-c .row-8 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-8 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-8 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-8 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-9{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-9 input{width:100%;}
.template-wrapper .template-top-c .row-9 select{width:100%;}
.template-wrapper .template-top-c .row-9 .col-1{float:left; width:50%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-9 .col-2{float:left; width:50%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-10{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-10 input{width:100%;}
.template-wrapper .template-top-c .row-10 select{width:100%;}
.template-wrapper .template-top-c .row-10 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-10 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-10 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-10 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-11{}
.template-wrapper .template-top-c .row-11 input{width:100%;}
.template-wrapper .template-top-c .row-11 select{width:100%;}

.template-wrapper .template-top-c .row-12{}
.template-wrapper .template-top-c .row-12 input{width:100%;}
.template-wrapper .template-top-c .row-12 select{width:100%;}

.template-wrapper .template-top-c .row-13{}
.template-wrapper .template-top-c .row-13 input{width:100%;}
.template-wrapper .template-top-c .row-13 select{width:100%;}

.template-wrapper .template-top-c .row-14{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-14 input{width:100%;}
.template-wrapper .template-top-c .row-14 select{width:100%;}
.template-wrapper .template-top-c .row-14 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-14 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-14 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-14 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-15{margin-left:-5px; margin-right:-5px;}
.template-wrapper .template-top-c .row-15 input{width:100%;}
.template-wrapper .template-top-c .row-15 select{width:100%;}
.template-wrapper .template-top-c .row-15 .col-1{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-15 .col-2{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-15 .col-3{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .template-top-c .row-15 .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}

.template-wrapper .template-top-c .row-16{}
.template-wrapper .template-top-c .row-16 input{width:100%;}
.template-wrapper .template-top-c .row-16 select{width:100%;}

.template-wrapper .template-top-c .row-17{}
.template-wrapper .template-top-c .row-17 input{width:100%;}
.template-wrapper .template-top-c .row-17 select{width:100%;}

.template-wrapper .template-top-c .row-18{}
.template-wrapper .template-top-c .row-18 input{width:100%;}
.template-wrapper .template-top-c .row-18 select{width:100%;}

.template-wrapper .template-top-c .row-19{}
.template-wrapper .template-top-c .row-19 input{width:100%;}
.template-wrapper .template-top-c .row-19 select{width:100%;}

.template-wrapper .template-top-c .row-20{}
.template-wrapper .template-top-c .row-20 input{width:100%;}
.template-wrapper .template-top-c .row-20 select{width:100%;}

.template-wrapper .template-top-c .row-21{}
.template-wrapper .template-top-c .row-21 input{color:#fff; border-radius:3px; padding:12px 20px;}*/
/*END*/

.close-btn{background:red; color:#fff;}

.form-wrapper{background:#eee; padding:15px; margin:0px 0px 15px 0px !important;}
.form-wrapper-internal-collapse{background:#ddd; padding:20px;}

.template-wrapper .row-wrapper{margin:0px -5px 0px -5px}
.template-wrapper .row-wrapper .col-1{float:left; width:100%; padding:5px; box-sizing:border-box;}
.template-wrapper .row-wrapper .col-2{float:left; width:50%; padding:5px; box-sizing:border-box;}
.template-wrapper .row-wrapper .col-3{float:left; width:33.3%; padding:5px; box-sizing:border-box;}
.template-wrapper .row-wrapper .col-4{float:left; width:25%; padding:5px; box-sizing:border-box;}
.template-wrapper .row-wrapper .col-5{float:left; width:20%; padding:5px; box-sizing:border-box;}
.template-wrapper .row-wrapper .col-6{float:left; width:16.6%; padding:5px; box-sizing:border-box;}

.template-wrapper row .col-7{float:left; width:16.6%; padding:5px; box-sizing:border-box;}

.template-wrapper .row-wrapper input[type="text"]{padding:10px; border-radius:5px; height:auto; width:100%;}
.template-wrapper .row-wrapper select{padding:10px; border-radius:5px; height:auto; color:#999; width:100%;}
.template-wrapper .row-wrapper .uk-placeholder{margin:0px; text-align:center; padding:6px; border-radius:5px;}
.template-wrapper .row-wrapper .uk-placeholder a{color:#999;}

.template-wrapper .add-item-row{margin:20px 0px 20px 0px;}
.template-wrapper .add-item-row a{width:100%; border-radius:3px; font-size:22px; padding:12px 0px;}
.template-wrapper h3{margin:20px 0px 20px 0px;}

.main-section-divider{border-bottom:1px #bbb solid; height:0px; margin:20px 0px 20px 0px;}